/*
Colours used:
Primary (Red):#FD4C2A
Secondary (Blue):#00003B
Background (White): #FFFFFF

Start with basic tags (html, body, a, h1, img) */

body {
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #00003b;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 65px;
  font-weight: 400;
  color: #fd4c2a;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  color: #fd4c2a;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  color: #00003b;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #00003b;
}

img {
  width: 100%;
}

span {
  color: #fd4c2a;
}

a {
  color: #fd4c2a;
  text-decoration: none;
}

li::marker {
  color: #fd4c2a;
}

/* Then go into basic styling (links, buttons, forms) */

a:hover,
a:focus {
  color: #fd4c2a;
  fill: #fd4c2a;
}

a:active {
  color: #00003b;
  text-decoration: none;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #00003b;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 30px;
  border: 2px solid #00003b;
  transition: opacity 0.2s;
}

.button:hover,
.button:focus {
  text-decoration: none;
  background-color: #fff;
  color: #00003b; /* needed to override the default link color */
  border: 2px solid #00003b;
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #fd4c2a;
  border: 2px solid #fd4c2a;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #fd4c2a;
  color: #fff;
}

.button.project {
  background-color: #fd4c2a;
  color: #fff;
  border: 2px solid #fd4c2a;
  margin: 5px;
}

.button.project:hover,
.button.project:focus {
  background-color: #fff;
  color: #fd4c2a;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 25s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.logo {
  color: #00003b;
}

.logo:hover {
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.2s;
}

/* or can do it the faster way:
.cloud-front {animation: 25s cloud-move infinite alternate linear;} */

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Then go into Layout styling (columns, rows) */

* {
  box-sizing: border-box;
}

.container {
  padding: 5px 20px;
}

.row {
  margin: 50px 0;
}

.logo {
  max-width: 150px;
}

.about picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Finally, go into specific sections and their elements (header, main, footer) */

header {
  background-color: #fff;
  padding: 10px 0 10px;
  box-shadow: 1px 6px 18px rgba(0, 0, 0, 0.1);
}

main {
  padding-top: 25px;
}

footer {
  text-align: center;
}

#work .row {
  margin: 50px 0;
  padding-bottom: 75px;
  border-bottom: 1px solid #00003b;
}

#hero {
  background-color: #fff;
  display: inline-block;
  width: 100%;
}

#hero,
#center h1 {
  text-align: center;
}

#center p {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 400;
  color: #00003b;
}

nav > ul > li > a:active {
  color: #00003b;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -44px;
  }

  p,
  li {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  /* this pseudo element fixes the flow of the page without affecting the rows themselves */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 250px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0 solid rgb(79, 122, 165);
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
  p,
  li {
    font-size: 20px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1440px) {
}
